<header id="header">
<div class="munuBurguer">
    <i class="fa-solid fa-bars"></i>
</div>
  
    <ul class="menu">
        <span class="cerrarMenu">X</span>
        <div class="avatar">
          <img  src="images/avatar.png" alt="">
        <h3>Saldo: (sadoDisponible)</h3>
        <p>Hola de nuevo, (numbreUsuario) </p>  
        <h3>¿ Necesitas saldo?</h3>
        <p>123 123 1234</p>
        </div>
        
        
        <li><a href=""><i class="fa-solid fa-mobile-screen-button"></i> Recargas</a></li>
        <li><a href=""><i class="fa-solid fa-sheet-plastic"></i> Historial</a></li>
        <li><a href=""><i class="fa-regular fa-credit-card"></i> Depositar</a></li>
        <li><a href=""><i class="fa-regular fa-id-badge"></i> Cuenta</a></li>
        <li><a href=""><i class="fa-solid fa-building-columns"></i> Cuentas Bancarias</a></li>

        <a class="cerrarSesion" href="">Cerrar Sesión</a>
    </ul>
    <div class="logo">
        <img src="/images/logo.png" alt="">
    </div>

<div class="redes">
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
</div>
</header>