<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
  <%-include("./partials/header") %>
<main class="index">
  <h1>¡ Bienvenido !</h1>
  <h2>Últimos Productos</h2>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide cardContainer">
        <img src="images/product.png" alt="">
        <h3> Titulo Producto</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, non. Dolores dolor consequatur reiciendis magnam facilis atque voluptatum mollitia ipsa.</p>
      </div>
      
      <div class="swiper-slide cardContainer">
        <img src="images/product.png" alt="">
        <h3> Titulo Producto</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, non. Dolores dolor consequatur reiciendis magnam facilis atque voluptatum mollitia ipsa.</p>
      </div>

      <div class="swiper-slide cardContainer">
        <img src="images/product.png" alt="">
        <h3> Titulo Producto</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, non. Dolores dolor consequatur reiciendis magnam facilis atque voluptatum mollitia ipsa.</p>
      </div>

      <div class="swiper-slide cardContainer">
        <img src="images/product.png" alt="">
        <h3> Titulo Producto</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, non. Dolores dolor consequatur reiciendis magnam facilis atque voluptatum mollitia ipsa.</p>
      </div>
      <div class="swiper-slide cardContainer">
        <img src="images/product.png" alt="">
        <h3> Titulo Producto</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, non. Dolores dolor consequatur reiciendis magnam facilis atque voluptatum mollitia ipsa.</p>
      </div>
      <div class="swiper-slide cardContainer">
        <img src="images/product.png" alt="">
        <h3> Titulo Producto</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, non. Dolores dolor consequatur reiciendis magnam facilis atque voluptatum mollitia ipsa.</p>
      </div>
    
  </div>
 
  <section class="recargasContainer">
    <h2>Recargar Ahora!</h2>
  
    <img src="images/empresa1.jpg" alt="...">
    <img src="images/empresa2.jpg" alt="...">
    <img src="images/empresa3.jpg" alt="...">
    <img src="images/empresa4.jpg" alt="...">
    <img src="images/empresa5.jpg" alt="...">
  </section>
  <section class="registrate">
    <h2>Ingresa!</h2>
    <form action="" method="post">
      <input type="text" name="login" id="login" placeholder="Nombre de usuario">
      <input type="password" name="password" id="password" placeholder="Contraseña">
      <span>¿No estas registrado?</span>
      <a href="">Registrate</a>
      <button type="submit">Ingresar</button>
    </form>
  </section>
</main>
<%-include("./partials/footer") %>
<%-include("./partials/scripts") %>
</body>
</html>
