*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
a{text-decoration: none;}
li{list-style: none;}
.index{
    padding: 10px;
    background-color: rgb(170   , 252, 188);
}

/* SWIPER */
.swiper {
    width: 100%;
    height: 100%;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px !important;
    box-shadow: 1px 1px 10px black;
  }
  .swiper-slide h3{
    margin: 10px 0 !important;
    }
    .swiper-slide p{
        padding: 10px !important;
        line-height: 28px !important;
    }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (min-width: 1024px) {
      
    .swiper-slide {
      width: 200px;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap:20px !important;
      box-shadow: 1px 1px 10px black;
    }
    .swiper-slide h3{
      margin: 10px 0 !important;
      }
      .swiper-slide p{
          padding: 10px !important;
          line-height: 28px !important;
      }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
   

  }