.index{
    text-align: center;
    color:white !important
}
.index h1{
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.index h2{
    font-size: 30px !important;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

